pre {
  white-space: pre-wrap !important;
}

pre,
blockquote {
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

a {
  color: currentColor;
  text-decoration: none;
}

* {
  outline: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

/* Print background graphics */
@media print and (color) {
  * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
  }
}

#document-controls, #github-link, iframe {
  display: none !important;
}