/* Typography */

body, .sanserif {
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
}

p, .serif {
  font-family: "Cardo", Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 400;
letter-spacing: -.1rem;
margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
font-size: 3.6rem;
  line-height: 1.2;
}

h2, .section-title {
font-size: 2.8rem;
  line-height: 1.25;
}

h3 {
font-size: 2.2rem;
  line-height: 1.3;
}

h4 {
font-size: 1.618rem;
letter-spacing: -.08rem;
  line-height: 1.35;
}

h5 {
font-size: 1.4rem;
letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
font-size: 1.2rem;
letter-spacing: 0;
  line-height: 1.4;
}